extends layout

block content
  h1 Signup

  form(method='POST' action='')
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='text', placeholder='' name='email' required='true' value=('') )
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='' name='password' required='true' value=(''))
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg
